# Alignment
## Load libraries and data

In [36]:
import pandas as pd
import geopandas as gpd
from collections import Counter

from alignment import align_on_column, get_fuzzy_dict
from preprocessing import substitute_col_by_dict, preprocess
import pickle

In [37]:
bottins = pd.read_pickle("data/bottins_prep.pkl")
streets = pd.read_pickle("data/FinalUnique.pkl")
unique_short_s = pd.read_pickle("data/unique_short_streets.pkl")
non_unique_short_s = pd.read_pickle("data/not_unique_short_streets.pkl")

In [38]:
streets.head(3)

,rowid,type,name,article,streetname,geometry,streetname_prep,year,buffer,matching,streetname_short,filter,name_prep
932,51359,ALL,ADRIENNE LECOUVREUR,None,Allée Adrienne Lecouvreur,"MULTILINESTRING ((255943.171 6250595.050, 2559...",allee adrienne lecouvreur,[2022],"POLYGON ((255822.8359876057 6250854.330169575,...",[51359],All. Adrienne Lecouvreur,True,adrienne lecouvreur
6273,14196,ALL,ALEXANDRE VIALATTE,None,Allée Alexandre Vialatte,"LINESTRING (262386.931 6244735.002, 262394.045...",allee alexandre vialatte,[2022],"POLYGON ((262493.678321503 6244660.720869429, ...",[14196],All. Alexandre Vialatte,True,alexandre vialatte
5500,139590,ALL,ALQUIER-DEBROUSSE,None,Allée Alquier-Debrousse,"LINESTRING (267885.248 6251328.904, 267898.247...",allee alquier debrousse,[2022],"POLYGON ((267849.993863189 6251423.652873451, ...",[139590],All. Alquier-Debrousse,True,alquier debrousse

## Align data

In [39]:
long_aligned, not_aligned = align_on_column(df_not_aligned = bottins, df_streets = streets, 
                    mergeOnLeft="street", mergeOnRight="streetname_prep", align_method="perfect")
u_short_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= unique_short_s, 
                    mergeOnLeft="street", mergeOnRight="name_prep", align_method="perfect short")
nu_short_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= non_unique_short_s, 
                    mergeOnLeft="street", mergeOnRight="name_prep", align_method="perfect short")

c:\Users\Lea\Documents\Uni Aachen\4. Semester\DH-405 Foundation Digital Humanities\project\Paris_City_Project\alignment.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newly_aligned["align_method"] = align_method

Joining on street and streetname_prep, method:perfect
#total aligned: 1226222, newly aligned: 1226222, not aligned: 3179942
Joining on street and name_prep, method:perfect short
#total aligned: 1225539, newly aligned: 1225539, not aligned: 1954403
Joining on street and name_prep, method:perfect short
#total aligned: 880536, newly aligned: 880536, not aligned: 1073867

## Substitute words by dictionary

In [40]:
word_dict = {"boulevard": "boulevard de",
                "boulevard de de ": "boulevard de ",
                "boulevard de d'": "boulevard d'",
                "boulevards": "boulevard des",
                "damede": "dame de",
                "damedes": "dame des",
                "faubourgsaint": "faubourg saint",
                "faubourgpoissonniere": "faubourg poissonniere",
                "faubourgdu": "faubourg du",
                "faubourgmontmartre": "faubourg montmartre",
                "quai jemmapes": "quai de jemmapes",
                "boulevards italiens": "boulevard des italiens",
                "villeneuve": "ville neuve",
                "quai valmy": "quai de valmy",
                "avenue wagram": "avenue de wagram",
                "boulevard de montparnasse": "boulevard du montparnasse"
                }

# substitute abbreviations
not_aligned["street"] = substitute_col_by_dict(not_aligned["street"], word_dict)

In [41]:
long_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= streets, 
                    df_aligned = long_aligned, mergeOnLeft="street", mergeOnRight="streetname_prep", 
                    align_method="perfect")
u_short_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= unique_short_s, 
                    df_aligned= u_short_aligned, mergeOnLeft="street", mergeOnRight="name_prep", 
                    align_method="perfect short")
nu_short_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= non_unique_short_s, 
                    df_aligned= nu_short_aligned, mergeOnLeft="street", mergeOnRight="name_prep", 
                    align_method="perfect short")

c:\Users\Lea\Documents\Uni Aachen\4. Semester\DH-405 Foundation Digital Humanities\project\Paris_City_Project\alignment.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newly_aligned["align_method"] = align_method

Joining on street and streetname_prep, method:perfect
#total aligned: 1281614, newly aligned: 55392, not aligned: 1018475
Joining on street and name_prep, method:perfect short
#total aligned: 1252504, newly aligned: 26965, not aligned: 991510
Joining on street and name_prep, method:perfect short
#total aligned: 880536, newly aligned: 0, not aligned: 991510

In [42]:
most_common = Counter(not_aligned["street"]).most_common(100)
for t in most_common:
    rue, occur = t
    last = rue.split()[-1]
    print(rue, occur, [x for x in streets["streetname_prep"] if last in x], "\n")

vieille du temple 10961 ['boulevard du temple', 'rue des fontaines du temple', 'rue des fosses du temple', 'rue du faubourg du temple', 'rue du temple', 'rue vieille du temple']

grenelle saint germain 10422 ['boulevard saint germain', 'cite germain pilon', 'passage saint germain le vieux', 'place saint germain des pres', 'rue des fosses saint germain des pres', "rue des fosses saint germain l'auxerrois", "rue des pretres saint germain l'auxerrois", 'rue du docteur germain see', 'rue germain pilon', 'rue germaine de stael', 'rue germaine krull', 'rue germaine poinso chapuis', 'rue germaine richier', 'rue germaine tailleferre', 'rue saint germain des pres', "rue saint germain l'auxerrois", 'rue sophie germain']

allemagne 6748 []

neuve des petits champs 6188 ['arcades des champs elysees', 'avenue des champs elysees', 'cul de sac du bouquet des champs', 'passage ormeaux grands champs', 'port des champs elysees', 'rond point des champs elysees marcel dassault', 'rue croix des petits champs', 'rue de longchamps', 'rue des champs', 'rue des champs elisees', 'rue des grands champs', 'rue des perchamps', 'rue des petits champs', 'rue du bouquet des champs', 'rue neuve des petits champs', 'rue notre dame des champs']

rochechouart 5863 ['boulevard marguerite de rochechouart', 'rue marguerite de rochechouart']

avenue d'orleans 5775 ["avenue de la porte d'orleans", "galerie d'orleans", "les portiques d'orleans", "quai d'orleans", "route d'orleans", "square d'orleans", "villa d'orleans"]

rue de flandre 5072 ['allee des orgues de flandre', 'avenue de flandre', 'passage de flandre']

paradis poissonniere 4717 ['boulevard poissonniere', 'rue du faubourg poissonniere', 'rue poissonniere', 'villa poissonniere']

rue de la chapelle 4385 ['avenue de la chapelle', 'avenue de la porte de la chapelle', 'boulevard de la chapelle', 'cite de la chapelle', 'impasse de la chapelle', 'place de la chapelle', 'rue hermann lachapelle', 'souterrain chapelle']

saint louis marais 4216 ['passage des marais', 'place jean marais']

four saint germain 4018 ['boulevard saint germain', 'cite germain pilon', 'passage saint germain le vieux', 'place saint germain des pres', 'rue des fosses saint germain des pres', "rue des fosses saint germain l'auxerrois", "rue des pretres saint germain l'auxerrois", 'rue du docteur germain see', 'rue germain pilon', 'rue germaine de stael', 'rue germaine krull', 'rue germaine poinso chapuis', 'rue germaine richier', 'rue germaine tailleferre', 'rue saint germain des pres', "rue saint germain l'auxerrois", 'rue sophie germain']

neuve saint augustin 4008 ['place paul et augustine fiket', 'place saint augustin', 'quai des grands augustins', 'rue augustin mouchot', 'rue augustin thierry', 'rue des grands augustins', 'rue des petits augustins', 'rue des vieux augustins', 'rue neuve saint augustin', 'rue saint augustin']

boulevard de la gare 3828 ['place de la garenne', 'port de la gare', 'quai de la gare', 'rue de la gare', 'rue de la gare de reuilly', 'rue des deux gares']

saint maur popincourt 3823 ['cite popincourt', 'impasse popincourt', 'passage sainte anne popincourt', "rue de l'asile popincourt", 'rue du marche popincourt', 'rue neuve popincourt', 'rue saint andre popincourt']

michodiere 3599 ['rue de la michodiere']

grenetat 3493 []

boulevard de rochechouart 3383 ['boulevard marguerite de rochechouart', 'rue marguerite de rochechouart']

notre dame de s victoires 3084 ['place des victoires', 'rue notre dame des victoires']

rue d'angouleme 3072 ["cite d'angouleme"]

angouleme du temple 2925 ['boulevard du temple', 'rue des fontaines du temple', 'rue des fosses du temple', 'rue du faubourg du temple', 'rue du temple', 'rue vieille du temple']

grenelle saint honore 2901 ["avenue saint honore d'eylau", 'place du marche saint honore', 'rue du faubourg saint honore', 'rue du marche saint honore', 'rue honore chevalier', 'rue saint honore', 'villa honore gabriel riqueti', 'villa wagram saint honore']

rue d'allemagne 2848 []

neuve des mathurins 2836 ['rue neuve des mathurins']

vanves 2796 ['avenue de la porte de vanves', 'passage de la tour de vanves', 'place de la porte de vanves', 'square de la porte de vanves']

ouest 2665 ['souterrain berger ouest']

phelippeaux 2552 []

marais saint martin 2530 ['avenue du general san martin', 'avenue henri martin', 'boulevard saint martin', 'cite saint martin', 'impasse du quarante neuf faubourg saint martin', 'impasse martini', 'impasse neuve saint martin', 'impasse saint martin', 'passage du commerce saint martin', 'place martin nadaud', 'place martine durlach', 'rue achille martinet', 'rue caumartin', 'rue de caumartin', 'rue de la martinique', 'rue des ecluses saint martin', 'rue des fosses saint martin', 'rue du canal saint martin', 'rue du faubourg saint martin', 'rue du vieux marche saint martin', 'rue lamartine', 'rue marietta martin', 'rue martin bernard', 'rue martin garat', 'rue neuve saint martin', 'rue royale saint martin', 'rue saint martin', 'square lamartine']

la harpe 2513 ['rue alexandre charpentier', "rue de l'echarpe", 'rue de la harpe', 'rue gustave charpentier', 'rue marc antoine charpentier', 'rue tirecharpe']

fontaine saint georges 2485 ['allee georges besse', 'allee georges recipon', 'allee georges rouault', 'avenue georges bernanos', 'avenue georges lafenestre', 'avenue georges lafont', 'avenue georges mandel', 'avenue georges risler', "place de l'abbe georges henocque", 'place georges berry', 'place georges guillaumin', 'place georges moustaki', 'place georges mulot', 'place georges pompidou', 'place saint georges', 'promenade georges ulmer', 'rue georges auric', 'rue georges berger', 'rue georges bizet', 'rue georges braque', 'rue georges citerne', 'rue georges de porto riche', 'rue georges desplas', 'rue georges duhamel', 'rue georges dumezil', 'rue georges et maï politzer', 'rue georges lardennois', 'rue georges leclanche', 'rue georges leygues', 'rue georges perec', 'rue georges picquart', 'rue georges pitard', 'rue georges sache', 'rue georges thill', 'rue georges ville', 'rue saint georges', 'square georges contenot', 'square georges lesage', 'voie georges pompidou']

cite trevise 2459 ['cite de trevise', 'rue de trevise']

chaussee d’antin 2372 []

aux ours 2359 ['allee des quatre carrefours', "cour de l'ours", 'cours albert ier', 'cours de la reine', 'cours de vincennes', 'cours des avocats', 'cours des marechaux', 'cours du septieme art', 'cours la reine', 'cours paul ricard', 'galerie de nemours', 'impasse bon secours', 'impasse boursault', 'passage des fours a chaux', 'place aurelie nemours', 'place de la bourse', 'rue aux ours', 'rue boursault', 'rue bourseul', 'rue de la bourse', 'rue de nemours', 'rue gregoire de tours', 'rue pierre demours']

rue de vanves 2341 ['avenue de la porte de vanves', 'passage de la tour de vanves', 'place de la porte de vanves', 'square de la porte de vanves']

breda 2151 []

neuve saint eustache 2150 ['impasse saint eustache', 'passage saint eustache', 'porte saint eustache', 'rue neuve saint eustache', 'souterrain boucle saint eustache', 'voie balcon saint eustache']

commerce grenelle 2104 ['boulevard de grenelle', 'cul de sac de grenelle', 'pont de grenelle cadets de saumur', 'port de grenelle', 'quai de grenelle', 'rue beaugrenelle', 'rue de grenelle', 'rue de la ferme de grenelle', 'rue grenelle', 'villa de grenelle']

dames batignolles 2072 ['avenue du cimetiere des batignolles', 'boulevard des batignolles', 'rue des batignolles']

anjou saint honore 2063 ["avenue saint honore d'eylau", 'place du marche saint honore', 'rue du faubourg saint honore', 'rue du marche saint honore', 'rue honore chevalier', 'rue saint honore', 'villa honore gabriel riqueti', 'villa wagram saint honore']

godot 2049 ['rue godot de mauroy']

fontaine moliere 1998 ['passage moliere']

avenue saint ouen 1994 ['avenue de la porte de saint ouen', 'avenue de saint ouen', 'impasse saint ouen', 'rue de rouen', 'souterrain saint ouen']

notre dame de s champs 1986 ['arcades des champs elysees', 'avenue des champs elysees', 'cul de sac du bouquet des champs', 'passage ormeaux grands champs', 'port des champs elysees', 'rond point des champs elysees marcel dassault', 'rue croix des petits champs', 'rue de longchamps', 'rue des champs', 'rue des champs elisees', 'rue des grands champs', 'rue des perchamps', 'rue des petits champs', 'rue du bouquet des champs', 'rue neuve des petits champs', 'rue notre dame des champs']

vanneau 1952 []

royale saint honore 1862 ["avenue saint honore d'eylau", 'place du marche saint honore', 'rue du faubourg saint honore', 'rue du marche saint honore', 'rue honore chevalier', 'rue saint honore', 'villa honore gabriel riqueti', 'villa wagram saint honore']

passage du saumon 1816 []

berlin 1776 []

rue rochechouart 1698 ['boulevard marguerite de rochechouart', 'rue marguerite de rochechouart']

rue de la pompe 1674 ['impasse de la pompe']

laval 1647 []

ferme des mathurins 1643 ['rue neuve des mathurins']

la tour d'auvergne 1601 ["impasse louise emilie de la tour d'auvergne", "rue de la tour d'auvergne", "rue louise emilie de la tour d'auvergne"]

rue jouffroy 1576 ['passage jouffroy', "rue jouffroy d'abbans"]

saint dominique saint germain 1551 ['boulevard saint germain', 'cite germain pilon', 'passage saint germain le vieux', 'place saint germain des pres', 'rue des fosses saint germain des pres', "rue des fosses saint germain l'auxerrois", "rue des pretres saint germain l'auxerrois", 'rue du docteur germain see', 'rue germain pilon', 'rue germaine de stael', 'rue germaine krull', 'rue germaine poinso chapuis', 'rue germaine richier', 'rue germaine tailleferre', 'rue saint germain des pres', "rue saint germain l'auxerrois", 'rue sophie germain']

avenue malakoff 1539 ['avenue de malakoff', 'impasse de malakoff', 'villa malakoff']

rue popincourt 1538 ['cite popincourt', 'impasse popincourt', 'passage sainte anne popincourt', "rue de l'asile popincourt", 'rue du marche popincourt', 'rue neuve popincourt', 'rue saint andre popincourt']

rue menilmontant 1534 ['avenue de la porte de menilmontant', 'boulevard de menilmontant', 'passage de la station de menilmontant', 'passage de menilmontant', 'passage du ruisseau de menilmontant', 'place de menilmontant', "rue de l'elysee menilmontant", 'rue neuve de menilmontant']

rue levis 1532 ['impasse de levis', 'place de levis', 'rue de levis']

rue du commerce 1508 ['cour du commerce saint andre', 'impasse du commerce', 'passage du commerce saint martin', 'place du commerce']

saint nicolas d'antin 1481 ["allee d'antin", "cite d'antin", "impasse d'antin", "rue d'antin", "rue de la chaussee d'antin"]

faubourg stantoine 1469 []

passage tivoli 1463 []

rue de l'ouest 1446 []

amandiers menilmontant 1442 ['avenue de la porte de menilmontant', 'boulevard de menilmontant', 'passage de la station de menilmontant', 'passage de menilmontant', 'passage du ruisseau de menilmontant', 'place de menilmontant', "rue de l'elysee menilmontant", 'rue neuve de menilmontant']

rue montmorency 1437 ['avenue de montmorency', 'boulevard de montmorency', 'rue de montmorency', 'rue neuve de montmorency']

place royale 1423 ['allee royale', 'route royale de beaute', 'rue de la forge royale', 'rue royale', 'rue royale saint martin']

grayilliers 1400 []

ecuries d'artois 1391 ["rue comtesse d'artois", "rue de la comtesse d'artois"]

avenue de chatillon 1385 ['avenue de la porte de chatillon', 'place de la porte de chatillon', 'rue chatillon', 'rue de chatillon', 'square de chatillon']

saint nicolas saint antoine 1323 ['cite antoine loubeyre', 'cour du marche saint antoine', 'passage antoine careme', 'passage du petit saint antoine', 'passage saint antoine', 'place antoine furetiere', 'place du docteur antoine beclere', 'place monique antoine', 'rue andre antoine', 'rue antoine arnauld', 'rue antoine bourdelle', 'rue antoine chantin', 'rue antoine dubois', 'rue antoine hajje', 'rue antoine julien henard', 'rue antoine roucher', 'rue antoine vollon', 'rue antoinette fouque', 'rue blanche antoinette', 'rue du faubourg saint antoine', 'rue jean antoine de baïf', 'rue marc antoine charpentier', 'rue saint antoine', 'square antoine arnauld']

neuve saint merri 1310 ['place stuart merrill', 'rue du cloitre saint merri', 'rue saint merri']

anjou marais 1306 ['passage des marais', 'place jean marais']

bercy saint antoine 1298 ['cite antoine loubeyre', 'cour du marche saint antoine', 'passage antoine careme', 'passage du petit saint antoine', 'passage saint antoine', 'place antoine furetiere', 'place du docteur antoine beclere', 'place monique antoine', 'rue andre antoine', 'rue antoine arnauld', 'rue antoine bourdelle', 'rue antoine chantin', 'rue antoine dubois', 'rue antoine hajje', 'rue antoine julien henard', 'rue antoine roucher', 'rue antoine vollon', 'rue antoinette fouque', 'rue blanche antoinette', 'rue du faubourg saint antoine', 'rue jean antoine de baïf', 'rue marc antoine charpentier', 'rue saint antoine', 'square antoine arnauld']

nye des petits champs 1298 ['arcades des champs elysees', 'avenue des champs elysees', 'cul de sac du bouquet des champs', 'passage ormeaux grands champs', 'port des champs elysees', 'rond point des champs elysees marcel dassault', 'rue croix des petits champs', 'rue de longchamps', 'rue des champs', 'rue des champs elisees', 'rue des grands champs', 'rue des perchamps', 'rue des petits champs', 'rue du bouquet des champs', 'rue neuve des petits champs', 'rue notre dame des champs']

poliveau 1284 []

boulevard de mazas 1262 ['place mazas']

pastourel 1262 ['rue pastourelle']

rue turbigo 1229 ['rue de turbigo']

rue de menilmontant 1227 ['avenue de la porte de menilmontant', 'boulevard de menilmontant', 'passage de la station de menilmontant', 'passage de menilmontant', 'passage du ruisseau de menilmontant', 'place de menilmontant', "rue de l'elysee menilmontant", 'rue neuve de menilmontant']

boulevard d'italie 1225 ["avenue d'italie", "avenue de la porte d'italie", "place d'italie", "rue d'italie"]

rue la boëtie 1225 []

doudauville 1211 []

rue des marais 1205 ['passage des marais', 'place jean marais']

boulevard de saint jacques 1199 ['allee jacques derrida', 'allee jean jacques servan schreiber', 'allees jacques brel', 'avenue jacques de linieres', 'carrefour du general jacques paris de bollardiere', 'cour jacques vigues', 'esplanade jacques chaban delmas', 'impasse du docteur jacques bertillon', 'place jacques bainville', 'place jacques bonsergent', 'place jacques copeau', 'place jacques debu bridel', 'place jacques demy', 'place jacques et therese trefouel', 'place jacques feron', 'place jacques froment', 'place jacques marette', 'place jacques rouche', 'place jacques rueff', 'place mireille et jacques renouvin', 'place saint jacques', 'placette jacques duhamel', 'promenade jacques canetti', 'promenade jacques hebertot', 'quai jacques chirac', 'rue des fosses saint jacques', 'rue des pelerins saint jacques', 'rue du cloitre saint jacques', 'rue du faubourg saint jacques', 'rue edouard jacques', 'rue jacques baudry', 'rue jacques bingen', 'rue jacques callot', 'rue jacques cartier', 'rue jacques coeur', 'rue jacques destree', 'rue jacques duchesne', 'rue jacques henri lartigue', 'rue jacques hillairet', 'rue jacques ibert', 'rue jacques kable', 'rue jacques kellner', 'rue jacques lacan', 'rue jacques louvel tessier', 'rue jacques mawas', 'rue jacques monory', 'rue jacques offenbach', 'rue jacques prevert', 'rue jean jacques rousseau', 'rue saint jacques', 'rue saint jacques la boucherie', 'terrasse du commandant jacques blasquez', 'villa saint jacques']

passage menilmontant 1191 ['avenue de la porte de menilmontant', 'boulevard de menilmontant', 'passage de la station de menilmontant', 'passage de menilmontant', 'passage du ruisseau de menilmontant', 'place de menilmontant', "rue de l'elysee menilmontant", 'rue neuve de menilmontant']

reunion charonne 1191 ['boulevard de charonne', 'chemin du parc de charonne', 'rue de charonne']

rue des mathurins 1166 ['rue neuve des mathurins']

acacias de l'etoile 1145 ["cour de l'etoile d'or", "impasse de l'etoile", "route de l'etoile"]

neuve des capucines 1136 ['boulevard des capucines', 'rue des capucines']

tour passy 1130 ['avenue du parc de passy', 'place de la porte de passy', 'place de passy', 'port de passy', 'route de boulogne a passy', 'route des lacs a passy', 'rue de passy']

rue demours 1122 ['rue pierre demours']

truffault 1118 []

rue pigalle 1108 ['cite pigalle', 'place pigalle', 'rue jean baptiste pigalle']

cherchemidi 1086 []

francs bourgeois marais 1077 ['passage des marais', 'place jean marais']

pavee marais 1077 ['passage des marais', 'place jean marais']

varennes 1074 []

avenue d'antin 1070 ["allee d'antin", "cite d'antin", "impasse d'antin", "rue d'antin", "rue de la chaussee d'antin"]

jean robert 1063 ['avenue robert schuman', 'impasse louis robert', 'impasse robert', 'place robert antelme', 'place robert desnos', 'place robert guillemard', 'place robert verdier', 'rue charles et robert', "rue de l'ingenieur robert keller", 'rue edouard robert', 'rue henri robert', 'rue leopold robert', 'rue mousset robert', 'rue robert blache', 'rue robert de flers', 'rue robert esnault pelterie', 'rue robert estienne', 'rue robert et sonia delaunay', 'rue robert etlin', 'rue robert fleury', 'rue robert houdin', 'rue robert le coin', 'rue robert lindet', 'rue robert planquette', 'rue robert turquan', 'villa robert doisneau', 'villa robert lindet']

neuve coquenard 1059 ['cul de sac coquenard', 'rue coquenard']

labruyere 1052 []

In [43]:
# to check if something exists in the streets dataset
print([x for x in streets["streetname_prep"] if "boulevards" in x])
print(streets[streets["name_prep"]=="la fayette"])

[]
       rowid type        name article      streetname  \
1585  182043  RUE  LA FAYETTE    None  Rue la Fayette

                                               geometry streetname_prep  \
1585  MULTILINESTRING ((259753.125 6253359.817, 2598...  rue la fayette

        year                                             buffer  matching  \
1585  [2022]  POLYGON ((259829.2462873084 6253497.303816207,...  [182043]

     streetname_short filter   name_prep
1585    R. la Fayette   True  la fayette

In [44]:
# get most common in not aligned data
Counter([x for x in not_aligned["street"] if "." in x]).most_common(100)

[('n.d. de nazareth', 216),
 ('j. j. rousseau', 187),
 ("saint germain l'aux.", 176),
 ('gren. saint germain', 140),
 ('rue n.d. de nazareth', 126),
 ('n.d. des victoires', 112),
 ('saint nicolas saint ant.', 106),
 ('f. du temple', 99),
 ('montagne sainte gen.', 94),
 ('faubourg saint ant.', 89),
 ('n. d. de nazareth', 87),
 ('boulevard de se. bastopol', 85),
 ('grenelle saint hon.', 83),
 ('m. le prince', 79),
 ("chaussee. d'antin", 78),
 ('b. beaumarchais', 73),
 ('sainte marguerite saint ant.', 73),
 ("fosses saint germain l'aux.", 71),
 ('cherche. midi', 70),
 ('vaugi. rard', 69),
 ('boulevard de sebas. topol', 69),
 ('rue n.d. des champs', 69),
 ('sts. peres', 67),
 ('grenelle saint h.', 64),
 ("ch. d'antin", 64),
 ('mons. le prince', 63),
 ('n.d. de lorette', 63),
 ('faubourg saint an. toine', 63),
 ('traversiere saint ant.', 62),
 ('bourbon villen.', 61),
 ('nve. des petits champs', 59),
 ('paradis. poissonniere', 58),
 ('boulevard de la vil. lette', 58),
 ('faubourg du. temple', 56),
 ('n d. de nazareth', 55),
 ('bercy saint ant.', 54),
 ('sainte croix de la bretonn.', 53),
 ('pet. ecuries', 53),
 ('boulevard de ma. genta', 53),
 ('rue de vaugi. rard', 53),
 ('notre dame de naza. reth', 52),
 ('royale saint hon.', 51),
 ('bourb. ville neuve', 51),
 ('vi. vienne', 51),
 ('b. du temple', 50),
 ('ecole de med.', 50),
 ('grenelle. saint germain', 49),
 ('faubourg.du temple', 48),
 ('n. d. de lorette', 47),
 ('faubourg.saint martin', 47),
 ('ferme des math.', 46),
 ('notre d. de lorette', 46),
 ('n. d. des victoires', 45),
 ('paradis poiss.', 45),
 ('faubourg saint hon.', 44),
 ('michel le. comte', 44),
 ('angouleme du t.', 43),
 ("pretres saint germain l'aux.", 43),
 ('notre dame. de nazareth', 43),
 ('folie meri. court', 43),
 ('ri. voli', 43),
 ('croix des petits ch.', 42),
 ('saint domin. saint germain', 42),
 ('n. de nazareth', 42),
 ('echi. quier', 41),
 ('rambu. teau', 40),
 ('marche saint hon.', 39),
 ('n.d. des champs', 39),
 ('lenoir saint ant.', 38),
 ('faubourg poisson. niere', 38),
 ('bonl. du temple', 38),
 ('faubourg saint de. nis', 38),
 ('gren. saint honore', 37),
 ('b. poissonniere', 37),
 ('royale saint ant.', 36),
 ('boulevard de males. herbes', 36),
 ('nve. saint merri', 36),
 ('bonl. saint martin', 35),
 ('la. fayette', 35),
 ('nve. saint augustin', 35),
 ('simon le. franc', 34),
 ('vieilles etuves saint hon.', 34),
 ('monsieur le. prince', 34),
 ('rue n.d. des victoires', 34),
 ('jean jacques rous. seau', 33),
 ('gra. villiers', 33),
 ('saint hyacinthe saint m.', 33),
 ('faubourg st.martin', 33),
 ('nve. popincourt', 33),
 ('boulevard de ri. chard lenoir', 33),
 ('bonl. poissonniere', 32),
 ('saint de. nis', 32),
 ('marais saint m.', 32),
 ('ro. quette', 32),
 ('notre dame de . nazareth', 32),
 ('boulevard de bonne. nouvelle', 31),
 ('faubourg.poissonniere', 31),
 ('vieille du. temple', 31),
 ('faubourg.saint honore', 30),
 ('s. denis', 30)]

### Alignment without spaces

In [45]:
replace_spaces = {"\ ":"", "\|":"", "\.":"", "\:":"", "\'":""}
not_aligned["no_spaces"] = not_aligned["street"].replace(replace_spaces, regex=True)
streets["no_spaces_long"] = streets["streetname_prep"].replace(replace_spaces, regex=True)
unique_short_s["no_spaces_short"] = unique_short_s["name_prep"].replace(replace_spaces, regex=True)
non_unique_short_s["no_spaces_short"] = non_unique_short_s["name_prep"].replace(replace_spaces, regex=True)

In [46]:
not_aligned.head(5)

,Unnamed: 0,page,row,Nom,Métier,Rue,Numéro,annee,street,no_spaces
0,bpt6k6282019m,144,0,Aaron,bronzes,passage Choiseal,72 et 74.,1855,passage choiseal,passagechoiseal
1,bpt6k6282019m,144,14,Abault (Paul),libraire,quai des Angustins,9.,1855,quai des angustins,quaidesangustins
2,bpt6k6282019m,144,15,Abavid,vins,Beaujolais-da-Temple,7.,1855,beaujolais da temple,beaujolaisdatemple
3,bpt6k6282019m,144,16,Abazaer (Are),cristaux et porcelaines,Pei.Ecuries,26.,1855,pei.ecuries,peiecuries
4,bpt6k6282019m,144,17,Abbadie (A.) et Montagnan,draps,Neuve-desBons-Enfants,1.,1855,neuve desbons enfants,neuvedesbonsenfants

In [47]:
long_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= streets, 
                    df_aligned = long_aligned, mergeOnLeft="no_spaces", mergeOnRight="no_spaces_long", 
                    align_method="no spaces perfect")
u_short_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= unique_short_s, 
                    df_aligned = u_short_aligned, mergeOnLeft="no_spaces", mergeOnRight="no_spaces_short",
                    align_method="no spaces perfect short")
nu_short_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= non_unique_short_s, 
                    df_aligned = nu_short_aligned, mergeOnLeft="no_spaces", mergeOnRight="no_spaces_short",
                    align_method="no spaces perfect short")

c:\Users\Lea\Documents\Uni Aachen\4. Semester\DH-405 Foundation Digital Humanities\project\Paris_City_Project\alignment.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newly_aligned["align_method"] = align_method

Joining on no_spaces and no_spaces_long, method:no spaces perfect
#total aligned: 1332707, newly aligned: 51093, not aligned: 940772
Joining on no_spaces and no_spaces_short, method:no spaces perfect short
#total aligned: 1301724, newly aligned: 49220, not aligned: 891960
Joining on no_spaces and no_spaces_short, method:no spaces perfect short
#total aligned: 899920, newly aligned: 19384, not aligned: 872613

In [48]:
nu_short_aligned.tail(4)

,Unnamed: 0,page,row,Nom,Métier,Rue,Numéro,annee,street,name_prep,streetname,year,rowid,align_method,no_spaces,no_spaces_short
888526,bpt6k9780089g,1448,161,Bofflix,rasoirs et repasseurs de lames,. Rambuteau,14.,1922,. rambuteau,rambuteau,"[Passage Rambuteau, Porte Rambuteau, Rue Rambu...","[[2022], [2022], [2022]]","[60059, 163039, 36486]",no spaces perfect short,rambuteau,rambuteau
889125,bpt6k9780089g,1475,18,Sarrault,cordonnier,. Meslay,60.,1922,. meslay,meslay,"[Passage Meslay, Rue Meslay]","[[2022], [1836, 2022]]","[161625, 2311]",no spaces perfect short,meslay,meslay
889622,bpt6k9780089g,1494,124,Simon & fils,courtiers en marchandises,.. Chevert,22.,1922,.. chevert,chevert,"[Rue Chevert, Rue de Chevert]","[[2022], [1836, 1836]]","[27666, 738]",no spaces perfect short,chevert,chevert
890293,bpt6k9780089g,1533,109,Suzanne (Mme),lingerie p. dames,MarchéSt Honoré,306 et 307.,1922,marchesaint honore,marche saint honore,"[Place du Marché Saint-Honoré, Rue du Marché S...","[[2022], [1836, 1836, 1836, 2022]]","[53268, 2275]",no spaces perfect short,marchesainthonore,marchesainthonore

In [49]:
Counter(u_short_aligned["Métier"]).most_common(50)

[('vins', 73562),
 ('épicier', 35121),
 ('propriétaire', 25119),
 ('médecin', 20332),
 ('tailleur', 18023),
 ('coiffeur', 17186),
 ('boulanger', 16388),
 ('boucher', 15618),
 ('architecte', 13229),
 ('rentier', 12664),
 ('ébéniste', 12569),
 ('serrurier', 11226),
 ('menuisier', 10973),
 ('chaussures', 10201),
 ('horloger', 9622),
 ('peintre-artiste', 9094),
 ('modes', 9046),
 ('limonadier', 8846),
 ('mercerie', 8491),
 ('charcutier', 8067),
 ('pharmacien', 7060),
 ('sage-femme', 6962),
 ('bottier', 6889),
 ('tapissier', 6623),
 ('avocat', 6453),
 ('couturière', 6048),
 ('lingerie', 6014),
 ('peintre-vitrier', 5330),
 ('vins-traiteur', 5225),
 ('tonnelier', 4810),
 ('vins en gros', 4595),
 ('chapelier', 4534),
 ('fleuriste', 4525),
 ('bijoutier en or', 4416),
 ('tabac', 4379),
 ('pâtissier', 4364),
 ('herboriste', 4340),
 ('libraire', 4215),
 ('cordonnier', 3905),
 ('propr.', 3717),
 ('bois et charbons', 3612),
 ('relieur', 3564),
 ('mécanicien', 3517),
 ('papetier', 3490),
 ('restaurateur', 3474),
 ('dentiste', 3435),
 ('meubles', 3353),
 ('liquoriste', 3186),
 ('maison meublée', 3135),
 ('parapluies', 3040)]

In [50]:
print("Aligned data so far:", (len(long_aligned)+len(u_short_aligned)+len(nu_short_aligned))/len(bottins))

Aligned data so far: 0.8021378686766992

In [51]:
long_aligned[["Nom", "Métier", "Rue", "Numéro", "year", "streetname"]].head(2)

,Nom,Métier,Rue,Numéro,year,streetname
12,Abbatucci (Séverin),député de la Corse,place Vendôme,11-13.,[2022],Place Vendôme
13,Abbatucci # (Th.),maître des requêtes au conseil d'Etat,pl. Vendôme,ll et 13.,[2022],Place Vendôme

In [52]:
long_aligned[["Nom", "Métier", "Rue", "Numéro", "year", "streetname", "no_spaces"]].tail(2)

,Nom,Métier,Rue,Numéro,year,streetname,no_spaces
991857,Zuloaga,peintre-art.,r.Caulaincourt,54.,[2022],Rue Caulaincourt,ruecaulaincourt
991860,Zurconi (P.),fourreur,quai de l'Hôtel-deVille,46.,[2022],Quai de l'Hôtel de Ville,quaidelhoteldeville

In [53]:
non_unique_short_s[["name_prep", "streetname"]].head(5)

             name_prep                                         streetname
18              abbaye              [Chemin de l'Abbaye, Rue de l'Abbaye]
35            abbesses  [Passage des Abbesses, Place des Abbesses, Rue...
50             acacias      [Passage des Acacias, Petite Rue des Acacias]
73            adrienne                    [Cité Adrienne, Villa Adrienne]
110  albert bartholome  [Avenue Albert Bartholomé, Square Albert Barth...

In [54]:
[x for x in not_aligned["Rue"] if ("5" in x)][10:20]

['52. Lauriston (Marquis de)',
 '54. Petiet',
 '5. Saint-Projet(chev. de)',
 '15',
 '15',
 '56 et q. des Augustins',
 '57. Baudon de Mony',
 '65. Chasteigner (Cte)',
 'Popincourt 5. Genie',
 '105. Lagrange (Cte C. de)']

## fuzzy matching

In [55]:
from fuzzywuzzy import process, fuzz

def simple_processor(token: str) -> str:
    """A string processor to return the same string as input.
        This dummy processor is used to avoid the default processor of the Rapidfuzz module to calculate string similarity.

    Parameters
    ----------
    token : str
        The input string to process.

    
    Returns
    -------
    str
        The output string same as the input string.
    """
    return token

In [57]:
#get a subset of all non-aligned rows, because otherwise computation is too heavy
not_aligned_rues = not_aligned["street"].unique().tolist()
not_aligned_selected = [street for street, _ in Counter(not_aligned["street"].tolist()).most_common(10000)]
#first 100 streets for first analysis
not_aligned_selected100 = not_aligned_rues[:100]

In [58]:
streets_all_vars = streets["streetname_prep"]
#streets_all_vars.append(streets["streetname_short"])
#streets_all_vars.append(streets["streetname_short_prep"])
streets_all_vars = list(set(streets_all_vars))
streets_all_vars[:10]

['porte rambuteau',
 'villa copernic',
 'rue maurice loewy',
 'rue dalou',
 "rue d'aix",
 'cours des marechaux',
 'cour jasmin',
 'cul de sac croix bussiere',
 'rue emile pierre casel',
 'rue de toulouse']

In [59]:
#trying a fuzzy matching for similarity value 85%
for x in not_aligned_selected100:
    best_one = process.extractOne(x, streets_all_vars, processor=simple_processor, scorer=fuzz.ratio,
    score_cutoff=85)
    #if there is a matching street with similarity > 85 %, print it
    if best_one:
        print(x, best_one)

passage choiseal ('passage choiseul', 94)
neuve desbons enfants ('rue neuve des bons enfants', 89)
neuvesaint eustache ('rue neuve saint eustache', 88)
neape saint eustache ('porte saint eustache', 85)
place de l'hotel de ville ("rue de l'hotel de ville", 88)
neuve des petits champs ('rue neuve des petits champs', 92)
place saint germain l'auxerrois ("rue saint germain l'auxerrois", 90)
passage des pet. ecuries ('passage des petites ecuries', 90)
passage de venise ('passage venise', 90)
neuve sainte cathe.rine ('rue neuve sainte catherine', 90)
nre sainte catherine ('rue sainte catherine', 95)
val sainte catherine ('rue sainte catherine', 85)
neuve saint medard ('rue neuve saint medard', 90)
vieille du temple ('rue vieille du temple', 89)
place du vieuxmarche saint martin ('rue du vieux marche saint martin', 89)
neuve bourg l'abbe ("rue neuve bourg l'abbe", 90)
chemin de ronde de la barriere montreuil ('chemin de ronde de la barriere de pantin', 85)
neuve saint augustin ('rue neuve saint augustin', 91)
passage delorme ('passage de rome', 87)
et boulevard de saint martin ('boulevard saint martin', 88)
neuve saint denis ('rue neuve saint denis', 89)
boulevard de capucines ('boulevard des capucines', 98)
passage sainte avoye ('passage sainte avoie', 95)

In [60]:
#trying matching with similarity value of 80%
for x in not_aligned_selected100:
    best_one = process.extractOne(x, streets_all_vars, processor=simple_processor, scorer=fuzz.ratio,
    score_cutoff=80)
    # look at those matches between 80 and 90%
    if best_one:
        if best_one[1]<90:
            print(x, best_one)

quai des angustins ('quai des grands augustins', 84)
neuve desbons enfants ('rue neuve des bons enfants', 89)
saint maar popincourt ('rue saint andre popincourt', 81)
neuvesaint eustache ('rue neuve saint eustache', 88)
neape saint eustache ('porte saint eustache', 85)
place de l'hotel de ville ("rue de l'hotel de ville", 88)
orleans saint marcel ('rue saint marcel', 83)
saint maur popincourt ('rue saint andre popincourt', 81)
neave saint denis ('rue neuve saint denis', 84)
aux ours ('rue aux ours', 80)
boulevoie mont parnasse ('boulevard du mont parnasse', 82)
bonlevoie poissonniere ('boulevard poissonniere', 82)
anjou saint honore ('rue saint honore', 82)
cháteau landon ('rue chateau landon', 81)
val sainte catherine ('rue sainte catherine', 85)
vieille du temple ('rue vieille du temple', 89)
place du vieuxmarche saint martin ('rue du vieux marche saint martin', 89)
neuve steustache ('rue neuve saint eustache', 80)
nye saint eustache ('porte saint eustache', 84)
chemin de ronde de la barriere montreuil ('chemin de ronde de la barriere de pantin', 85)
grenelle saint honore ('rue saint honore', 81)
passage delorme ('passage de rome', 87)
et boulevard de saint martin ('boulevard saint martin', 88)
neuve saint denis ('rue neuve saint denis', 89)
la tour d'auvergne ("rue de la tour d'auvergne", 84)

In [61]:
get_fuzzy_dict(streets_all_vars, not_aligned_selected100, score_cutoff=85)

{"neuve bourg l'abbe": "rue neuve bourg l'abbe",
 'passage de venise': 'passage venise',
 'neuve saint augustin': 'rue neuve saint augustin',
 "place saint germain l'auxerrois": "rue saint germain l'auxerrois",
 'passage des pet. ecuries': 'passage des petites ecuries',
 'place du vieuxmarche saint martin': 'rue du vieux marche saint martin',
 'neuve desbons enfants': 'rue neuve des bons enfants',
 'passage choiseal': 'passage choiseul',
 'vieille du temple': 'rue vieille du temple',
 'neuve saint denis': 'rue neuve saint denis',
 'neuve sainte cathe.rine': 'rue neuve sainte catherine',
 'val sainte catherine': 'rue sainte catherine',
 'chemin de ronde de la barriere montreuil': 'chemin de ronde de la barriere de pantin',
 'neuve des petits champs': 'rue neuve des petits champs',
 'passage delorme': 'passage de rome',
 'boulevard de capucines': 'boulevard des capucines',
 'passage sainte avoye': 'passage sainte avoie',
 'neuvesaint eustache': 'rue neuve saint eustache',
 'neuve saint medard': 'rue neuve saint medard',
 'neape saint eustache': 'porte saint eustache',
 "place de l'hotel de ville": "rue de l'hotel de ville",
 'nre sainte catherine': 'rue sainte catherine',
 'et boulevard de saint martin': 'boulevard saint martin'}

In [69]:
#make two seperate dictionaries, one with score cutoff value 85 and one with 80

# if dictionary with cutoff 85 is already there, load it. If not, compute it
try:
    with open('data/fuzzy_dict10000with85.pkl', 'rb') as f:
        fuzzy_dict85 = pickle.load(f)
except:
    fuzzy_dict85 = get_fuzzy_dict(streets_all_vars, not_aligned_selected, score_cutoff=85)
    with open("data/fuzzy_dict10000with85.pkl","wb") as f:
        pickle.dump(fuzzy_dict85,f)

# same for dictionary with cutoff 80
try:
    with open('data/fuzzy_dict10000with80.pkl', 'rb') as f:
        fuzzy_dict80 = pickle.load(f)
except:
    fuzzy_dict80 = get_fuzzy_dict(streets_all_vars, not_aligned_selected, score_cutoff=80)
    with open("data/fuzzy_dict10000with80.pkl","wb") as f:
        pickle.dump(fuzzy_dict80,f)

In [70]:
print("# entries for cutoff 80:", len(fuzzy_dict80), "cutoff 85:", len(fuzzy_dict85))

# entries for cutoff 80: 4566 cutoff 85: 3015

In [75]:
for item in fuzzy_dict85.items():
    if "." in item[0]:
        print(item)

('sainte croix de la bretonn.', 'rue sainte croix de la bretonnerie')
('boulevard de des bati. gnolles', 'boulevard des batignolles')
('vieil. le du temple', 'rue vieille du temple')
('rue des sts.peres', 'rue des saints peres')
('boulevard de des filles. du calvaire', 'boulevard des filles du calvaire')
('esplan. des invalides', 'place des invalides')
('boulevard de des filles du cal. vaire', 'boulevard des filles du calvaire')
('nre. saint merri', 'rue saint merri')
('nre.des petits champs', 'rue des petits champs')
('nve. des petits champs', 'rue des petits champs')
('nre.saint augustin', 'rue saint augustin')
('boulevard de des filles du. calvaire', 'boulevard des filles du calvaire')
('boulevard de poisson. niere', 'boulevard poissonniere')
('9. de la tournelle', 'rue de la tournelle')
('f. saint antoine', 'rue saint antoine')
('boulevard de richard. lenoir', 'boulevard richard lenoir')
('boulevard de mont. parnasse', 'boulevard du mont parnasse')
('rue ste. croix de la bretonnerie', 'rue sainte croix de la bretonnerie')
('boulevard de ras. pail', 'boulevard raspail')
('rue nve. saint augustin', 'rue neuve saint augustin')
('boulevard de des. italiens', 'boulevard des italiens')
('1. du cherche midi', 'rue du cherche midi')
('passage feuil. let', 'passage feuillette')
('nre. saint augustin', 'rue saint augustin')
('avenue j. jaures', 'avenue jean jaures')
('boulevard de b. nouvelle', 'boulevard de bonne nouvelle')
('neuve saint augus. tin', 'rue neuve saint augustin')
('t. saint martin', 'cite saint martin')
('vieille du. temple', 'rue vieille du temple')
('croix d. petits champs', 'rue croix des petits champs')
('roy. saint martin', 'rue saint martin')
('boulevard de males. herbes', 'boulevard malesherbes')
('nre.saint merri', 'rue saint merri')
('pont l. philippe', 'pont louis philippe')
("nre. bourg l'abbe", "rue bourg l'abbe")
("nve. bourg l'abbe", "rue bourg l'abbe")
('boulevard de richard le. noir', 'boulevard richard lenoir')
('passag. choiseul', 'passage choiseul')
('not. dame de nazareth', 'rue notre dame de nazareth')
('nve.des petits champs', 'rue des petits champs')
('1. des amandiers', 'rue des amandiers')
('b. de la madeleine', 'rue de la madeleine')
('rue n.d. des champs', 'rue des champs')
('rue n d. de nazareth', 'rue de nazareth')
('boulevard de des ca. pucines', 'boulevard des capucines')
('boulevard de montparnas. se', 'boulevard du montparnasse')
('boulevard de voltai. re', 'boulevard voltaire')
('place du pal. bourbon', 'place du palais bourbon')
('boulevard de pe. reire', 'boulevard pereire')
("quai d'austerl.", "quai d'austerlitz")
('nre. des capucines', 'rue des capucines')
('boulevard de ed. gar quinet', 'boulevard edgar quinet')
('not. dame de s victoires', 'rue notre dame des victoires')
('nve. saint augustin', 'rue saint augustin')
('pet. rue de reuilly', 'petite rue de reuilly')
('vieille. du temple', 'rue vieille du temple')
('nre.coquenard', 'rue coquenard')
('pet. rue mademoiselle', 'rue mademoiselle')
('cult. sainte catherine', 'rue sainte catherine')
('neuve. saint eustache', 'rue neuve saint eustache')
('avenue des ch. elysees', 'avenue des champs elysees')
('bonl. des invalides', 'pont des invalides')
('t. saint antoine', 'rue saint antoine')
('avenue de la gde. armee', 'avenue de la grande armee')
('rue ste. apolline', 'rue sainte apolline')
('neuve des. mathurins', 'rue neuve des mathurins')
('neuve saint roch.', 'rue neuve saint roch')
('n. saint augustin', 'rue saint augustin')
('ave. nue malakoff', 'avenue de malakoff')
('boulevard de des capuci. nes', 'boulevard des capucines')
('ste. croix de la bretonnerie', 'rue sainte croix de la bretonnerie')
('raub. saint antoine', 'rue saint antoine')
('gren. saint lazare', 'rue saint lazare')
('boulevard de des ita. liens', 'boulevard des italiens')
('passage ste. avoie', 'passage sainte avoie')
('boulevard de beau. marchais', 'boulevard beaumarchais')
('boulevard de bonn. nouvelle', 'boulevard de bonne nouvelle')
('rue des sts. peres', 'rue des saints peres')
('gren. saint honore', 'rue saint honore')
('t. saint charles', 'rue saint charles')
('b. des capucines', 'rue des capucines')
('boulevard de ri. chard lenoir', 'boulevard richard lenoir')
('rue de la montagne ste. genevieve', 'rue de la montagne sainte genevieve')
('rue montmo. rency', 'rue de montmorency')
('boulevard de ma. lesherbes', 'boulevard malesherbes')
('n. des petits champs', 'rue des petits champs')
('neuve d. petits champs', 'rue neuve des petits champs')
('boulevard de saint mi. chel', 'boulevard saint michel')
('pet. rue verte', 'petite rue verte')
('rue n.d. de nazareth', 'rue de nazareth')
('nve. des capucines', 'rue des capucines')
('nre. des petits champs', 'rue des petits champs')
('rue ste. anne', 'rue sainte anne')
('boulevard de des batignol. les', 'boulevard des batignolles')

In [71]:
#create a new column in not_aligned dataset and map the fuzzy matched streetnames to the entries
not_aligned["street_fuzzy80"] = not_aligned["street"].map(fuzzy_dict80)
not_aligned["street_fuzzy85"] = not_aligned["street"].map(fuzzy_dict85)

In [72]:
#align on the newly created columns
long_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= streets, 
                    df_aligned = long_aligned, mergeOnLeft="street_fuzzy85", mergeOnRight="streetname_prep", 
                    align_method="fuzzy 85")

long_aligned, not_aligned = align_on_column(df_not_aligned = not_aligned, df_streets= streets, 
                    df_aligned = long_aligned, mergeOnLeft="street_fuzzy80", mergeOnRight="streetname_prep", 
                    align_method="fuzzy 80")

Joining on street_fuzzy85 and streetname_prep, method:fuzzy 85
#total aligned: 1552755, newly aligned: 0, not aligned: 652565

c:\Users\Lea\Documents\Uni Aachen\4. Semester\DH-405 Foundation Digital Humanities\project\Paris_City_Project\alignment.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newly_aligned["align_method"] = align_method

Joining on street_fuzzy80 and streetname_prep, method:fuzzy 80
#total aligned: 1684612, newly aligned: 131857, not aligned: 520708

In [104]:
print("Aligned data:", (len(long_aligned)+len(u_short_aligned)+len(nu_short_aligned))/len(bottins))

Aligned data: 0.8820043920289848

In [73]:
unique_aligned = pd.concat([long_aligned, u_short_aligned])

c:\Users\Lea\anaconda3\lib\site-packages\geopandas\array.py:1406: UserWarning: CRS not set for some of the concatenation inputs. Setting output's CRS as WGS 84 / Pseudo-Mercator (the single non-null crs provided).
  warnings.warn(

In [91]:
unique_aligned_selection = unique_aligned[["page", "row", "Nom", "Métier", "Rue", "Numéro", 
        "annee", "streetname", "geometry", "name", "year", "align_method"]]
unique_aligned_selection.to_pickle("data/unique_aligned.pkl")

In [92]:
unique_aligned_selection.tail(10)

,page,row,Nom,Métier,Rue,Numéro,annee,streetname,geometry,name,year,align_method
934623,1314,315,Modiano,commissionnaire,Faub. Montmar tre,13.,1922,NaN,None,NaN,NaN,no spaces perfect short
934656,1316,109,Joline (Lucien),représentant d'adragante,: Etienne-Dolet,34.,1922,NaN,None,NaN,NaN,no spaces perfect short
934715,1318,125,Monier,couleurs,. . Gustave-Doré,4.,1922,NaN,None,NaN,NaN,no spaces perfect short
937380,1434,164,Reydet,couleurs,. Poulet,1.,1922,NaN,None,NaN,NaN,no spaces perfect short
937537,1441,111,Ripaux,vins et hôtel,. Compans,25 el 27.,1922,NaN,None,NaN,NaN,no spaces perfect short
937618,1444,113,Robert,tailleur pour dames,Faub. St-Ho noré,103.,1922,NaN,None,NaN,NaN,no spaces perfect short
938882,1497,123,Smil,cordonnier,.. Dutot,65.,1922,NaN,None,NaN,NaN,no spaces perfect short
938948,1501,150,Société anonyme française l'Industrie Musicale,instruments de musique,Faub. Pois- sonnière,11.,1922,NaN,None,NaN,NaN,no spaces perfect short
939029,1505,207,Société centrale de fournitures industrielles,fournitures générales pour usines,. Philippe-de-Girard,54.,1922,NaN,None,NaN,NaN,no spaces perfect short
940689,1587,111,Villain (Mue),mercerie,. Corbeau,3.,1922,NaN,None,NaN,NaN,no spaces perfect short

In [93]:
unique_aligned.columns

Index(['Unnamed: 0', 'page', 'row', 'Nom', 'Métier', 'Rue', 'Numéro', 'annee',
       'street', 'rowid', 'type', 'name', 'article', 'streetname', 'geometry',
       'streetname_prep', 'year', 'buffer', 'matching', 'streetname_short',
       'filter', 'name_prep', 'align_method', 'no_spaces', 'no_spaces_long',
       'street_fuzzy80', 'street_fuzzy85', 'no_spaces_short'],
      dtype='object')

In [103]:
unique_aligned_selection.tail(4)

,page,row,Nom,Métier,Rue,Numéro,annee,streetname,geometry,name,year,align_method
938882,1497,123,Smil,cordonnier,.. Dutot,65.,1922,NaN,None,NaN,NaN,no spaces perfect short
938948,1501,150,Société anonyme française l'Industrie Musicale,instruments de musique,Faub. Pois- sonnière,11.,1922,NaN,None,NaN,NaN,no spaces perfect short
939029,1505,207,Société centrale de fournitures industrielles,fournitures générales pour usines,. Philippe-de-Girard,54.,1922,NaN,None,NaN,NaN,no spaces perfect short
940689,1587,111,Villain (Mue),mercerie,. Corbeau,3.,1922,NaN,None,NaN,NaN,no spaces perfect short