# Repopulation Paris

## First Look into Bottin Data

In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
bottins = pd.read_csv("data/strict_addressing.csv")

In [114]:
print("size of table:", bottins.shape)
bottins.head(10)

size of table: (4406164, 8)

,Unnamed: 0,page,row,Nom,Métier,Rue,Numéro,annee
0,bpt6k6282019m,144,0,Aaron,bronzes,passage choiseal,72 et 74.,1855
1,bpt6k6282019m,144,1,Aaron (Mic.),manuf. de porcelaines,bondy,30.,1855
2,bpt6k6282019m,144,3,Abadie,architecte,provence,7.,1855
3,bpt6k6282019m,144,5,Abadie,tabac et estamin.,ménilmontant,158.,1855
4,bpt6k6282019m,144,6,Abanse,instituteur,sts-pères,30.,1855
5,bpt6k6282019m,144,7,Abat,rentier,isly,10.,1855
6,bpt6k6282019m,144,13,Abault et Coudray,charpentiers,corbeau,23.,1855
7,bpt6k6282019m,144,14,Abault (Paul),libraire,quai des angustins,9.,1855
8,bpt6k6282019m,144,15,Abavid,vins,beaujolais-da-temple,7.,1855
9,bpt6k6282019m,144,16,Abazaer (Are),cristaux et porcelaines,pei.ecuries,26.,1855

In [20]:
print("number of streets in dataset:", len(bottins["Rue"].unique()))

number of streets in dataset: 195464

In [22]:
bottins_original = bottins.copy()

## Paris Opendata - Voies

In [47]:
voies = pd.read_csv("data/opendata_voie_paris.csv", sep=";")

In [48]:
print("number of voies:", len(voies))
voies.head()

number of voies: 6542

,N_SQ_VO,C_COINSEE,C_DESI,C_LIAISON,L_VOIE,L_COURTMIN,L_LONGMIN,C_VOIE,B_FANTOIR,B_OFF,C_VOIE_VP,Geometry,OBJECTID,C_DOMOFF,N_SQ_CO,LENGTH,Geometry X Y
0,750004016,75056,IMP,NaN,BAUDRAN,Imp. Baudran,Impasse Baudran,750560733,O,O,0717,"{""coordinates"": [[2.3554518641916804, 48.82415...",6,O,750001537,64.625200,"48.82415332715383,2.3558919735528483"
1,750003821,75056,IMP,DES,CHEVALIERS,Imp. des Chevaliers,Impasse des Chevaliers,750561994,O,O,1986,"{""coordinates"": [[2.3960916096233094, 48.87258...",59,P,750001537,77.423197,"48.87229377669366,2.3963259349268453"
2,750005946,75056,RUE,DES,BONS VIVANTS,R. des Bons Vivants,Rue des Bons Vivants,750561106,O,O,1111,"{""coordinates"": [[2.346752283163513, 48.862212...",112,P,750001537,39.406151,"48.862044141078364,2.34682583693024"
3,750001312,75056,RUE,NaN,JEAN HUGUES,R. Jean Hugues,Rue Jean Hugues,750564899,O,O,4806,"{""coordinates"": [[2.274705254077503, 48.868429...",170,O,750001537,45.962263,"48.86861817275934,2.2748341164181163"
4,750005774,75056,RUE,NaN,JEAN-JACQUES ROUSSEAU,R. Jean-Jacques Rousseau,Rue Jean-Jacques Rousseau,750564901,O,O,4808,"{""coordinates"": [[[2.3396869374353004, 48.8620...",171,P,750001537,397.842033,"48.86347293952501,2.342392728552715"

In [57]:
voies = voies[["L_VOIE", "L_COURTMIN", "L_LONGMIN", "Geometry", "LENGTH", "Geometry X Y"]]
voies.head()

,L_VOIE,L_COURTMIN,L_LONGMIN,Geometry,LENGTH,Geometry X Y
0,baudran,imp. baudran,impasse baudran,"{""coordinates"": [[2.3554518641916804, 48.82415...",64.625200,"48.82415332715383,2.3558919735528483"
1,chevaliers,imp. des chevaliers,impasse des chevaliers,"{""coordinates"": [[2.3960916096233094, 48.87258...",77.423197,"48.87229377669366,2.3963259349268453"
2,bons vivants,r. des bons vivants,rue des bons vivants,"{""coordinates"": [[2.346752283163513, 48.862212...",39.406151,"48.862044141078364,2.34682583693024"
3,jean hugues,r. jean hugues,rue jean hugues,"{""coordinates"": [[2.274705254077503, 48.868429...",45.962263,"48.86861817275934,2.2748341164181163"
4,jean-jacques rousseau,r. jean-jacques rousseau,rue jean-jacques rousseau,"{""coordinates"": [[[2.3396869374353004, 48.8620...",397.842033,"48.86347293952501,2.342392728552715"

In [66]:
# prepare data for alignment
bottins["Rue"] = bottins["Rue"].str.lower()
voies["L_VOIE"] = voies["L_VOIE"].str.lower()
voies["L_COURTMIN"] = voies["L_COURTMIN"].str.lower()
voies["L_LONGMIN"] = voies["L_LONGMIN"].str.lower()

In [67]:
bot_voies_algn1 = bottins.join(voies.set_index("L_LONGMIN"), on="Rue")
bot_voies_algn2 = bottins.join(voies.set_index("L_VOIE"), on="Rue")
bot_voies_algn3 = bottins.join(voies.set_index("L_COURTMIN"), on="Rue")

In [68]:
# see how many streets were aligned
print(bot_voies_algn1["Geometry"].isna().sum())
print(bot_voies_algn2["Geometry"].isna().sum())
print(bot_voies_algn3["Geometry"].isna().sum())

4228735
3191199
3793594

In [92]:
# start with 2nd dataframe as basis, split into aligned an not aligned data
aligned = bot_voies_algn2.loc[bot_voies_algn2["Geometry"].notna()]
not_aligned = bot_voies_algn2.loc[bot_voies_algn2["Geometry"].isna()]
not_aligned = not_aligned.drop(["L_COURTMIN", "L_LONGMIN", "Geometry", "LENGTH", "Geometry X Y"], axis=1)
print("aligned:", len(aligned), "not aligned:", len(not_aligned))

aligned: 1933426 not aligned: 3191199

In [94]:
# perform join with "L_COURTMIN on not_aligned dataframe"
x = not_aligned.join(voies.set_index("L_COURTMIN"), on="Rue")
aligned = aligned.append(x[x["Geometry"].notna()], ignore_index = True)
not_aligned = x[x["Geometry"].isna()]
not_aligned = not_aligned.drop(["L_LONGMIN", "L_VOIE", "Geometry", "LENGTH", "Geometry X Y"], axis=1)
print("aligned:", len(aligned), "not aligned:", len(not_aligned))

aligned: 2545967 not aligned: 2578666

In [96]:
# perform join with "L_LONGMIN on not_aligned dataframe"
x = not_aligned.join(voies.set_index("L_LONGMIN"), on="Rue")
aligned = aligned.append(x[x["Geometry"].notna()], ignore_index = True)
not_aligned = x[x["Geometry"].isna()]
print("aligned:", len(aligned), "not aligned:", len(not_aligned))

aligned: 2713723 not aligned: 2410910

In [99]:
not_aligned.tail()

,Unnamed: 0,page,row,Nom,Métier,Rue,Numéro,annee,L_VOIE,L_COURTMIN,Geometry,LENGTH,Geometry X Y
4406148,bpt6k9780089g,1607,235,Zvang,blanchiss.,r. jules-vallès,5.,1922,NaN,NaN,NaN,NaN,NaN
4406153,bpt6k9780089g,1607,246,Zweiger (Vve),vins-restaur.,r. des hospitalières-st-gervais,12.,1922,NaN,NaN,NaN,NaN,NaN
4406156,bpt6k9780089g,1607,252,Zwilling,déchets de cuir,r. de buffon,67.,1922,NaN,NaN,NaN,NaN,NaN
4406157,bpt6k9780089g,1607,254,Zwinger (Henri),agent de fabriques,faub. poissonnière,65.,1922,NaN,NaN,NaN,NaN,NaN
4406162,bpt6k9780089g,1607,263,Zyssmann,bar,r. de pivoli,40.,1922,NaN,NaN,NaN,NaN,NaN

In [111]:
# Count how many addresses were aligned per year
annee_aligned = aligned.groupby(by=["annee"]).count()[["Nom"]]
annee_not_aligned = not_aligned.groupby(by=["annee"]).count()[["Nom"]]
df_per_year = annee_aligned.join(annee_not_aligned, lsuffix='_aligned', rsuffix='_not_aligned')

In [113]:
# Calculate the ratio of aligned addresses
df_per_year["ratio_aligned"] = df_per_year["Nom_aligned"] / (df_per_year["Nom_aligned"]+df_per_year["Nom_not_aligned"])
df_per_year

       Nom_aligned  Nom_not_aligned  ratio_aligned
annee
1839         17685            25795       0.406739
1841         21159            29352       0.418899
1842         22031            30303       0.420969
1843         18823            26673       0.413729
1844         21385            28703       0.426949
1845         22232            29422       0.430402
1846         23083            30404       0.431563
1847         23829            32053       0.426416
1848         26562            34287       0.436523
1849         26428            32924       0.445276
1850         27337            32000       0.460707
1851         28994            32625       0.470537
1852         31240            32718       0.488446
1853         32018            33871       0.485938
1854         34833            35458       0.495554
1855         36281            36926       0.495595
1856         37701            37776       0.499503
1857         37487            38901       0.490745
1858         37177            39172       0.486935
1859         35117            38937       0.474208
1860         37987            44767       0.459035
1861         38842            46152       0.456997
1862         40636            48689       0.454923
1863         40668            49484       0.451105
1864         37202            50034       0.426452
1870         55608            47271       0.540518
1871         55071            44074       0.555459
1873         55070            43888       0.556499
1874         54769            44009       0.554466
1875         59450            46133       0.563064
1876         60230            46359       0.565068
1877         62220            47632       0.566398
1878         64567            47503       0.576131
1879         63055            47867       0.568463
1880         64040            47286       0.575247
1881         70860            50842       0.582242
1882         68790            48912       0.584442
1883         75270            51635       0.593121
1884         71889            49729       0.591105
1885         75353            52474       0.589492
1886         77132            53776       0.589208
1887         66956            52500       0.560508
1888         66144            51735       0.561118
1890         64456            49419       0.566024
1893         69265            49890       0.581302
1894         65005            51176       0.559515
1896         58246            53354       0.521918
1897         60376            53406       0.530629
1898         63626            53997       0.540932
1900         66023            54427       0.548136
1901         67716            54907       0.552229
1907         68370            53484       0.561081
1914         69386            54134       0.561739
1921         64722            53957       0.545353
1922         73321            57708       0.559578

## Paris Opendata - Adresses

In [ ]:
adresses = pd.read_csv("data/opendata_adresse_paris.csv", sep=";")

In [16]:
adresses.head()

,Geometry X Y,Geometry,N_SQ_AD,N_VOIE,C_SUF1,C_SUF2,C_SUF3,C_AR,A_NVOIE,B_ANGLE,B_OFFSTDF,B_AFFSTDF,B_HORS75,L_NVOIE,L_ADR,N_SQ_AR,N_SQ_VO,OBJECTID
0,"48.868149964330925,2.385363237327124","{""coordinates"": [2.385363237327124, 48.8681499...",750088825,31.0,NaN,NaN,NaN,20.0,21.0,N,O,NaN,N,31,31 RUE ETIENNE DOLET,750000020.0,750003581.0,48975
1,"48.873918224142145,2.308770442174867","{""coordinates"": [2.308770442174867, 48.8739182...",750038510,2.0,NaN,NaN,NaN,8.0,222.0,O,O,NaN,N,2,2 RUE PAUL CEZANNE,750000008.0,750004449.0,48990
2,"48.84631684220949,2.34848334292492","{""coordinates"": [2.34848334292492, 48.84631684...",750162012,14.0,NaN,NaN,NaN,5.0,346.0,N,O,NaN,N,14,14 RUE CLOVIS,750000005.0,750004930.0,49022
3,"48.850519497345935,2.3857899214565674","{""coordinates"": [2.3857899214565674, 48.850519...",750054032,31.0,b,NaN,NaN,11.0,359.0,N,O,NaN,N,31b,31b RUE DE MONTREUIL,750000011.0,750003059.0,49026
4,"48.85233571571768,2.2684341614185204","{""coordinates"": [2.2684341614185204, 48.852335...",750128612,47.0,NaN,NaN,NaN,16.0,124.0,O,O,NaN,N,47,47 RUE RIBERA,750000016.0,750000897.0,49033

In [100]:
adresses[["Numéro", "Rue"]] = adresses["L_ADR"].str.split(" ", 1, expand=True)
adresses["Rue"] = adresses["Rue"].str.lower()
adresses.head()

,Geometry X Y,Geometry,N_SQ_AD,N_VOIE,C_SUF1,C_SUF2,C_SUF3,C_AR,A_NVOIE,B_ANGLE,B_OFFSTDF,B_AFFSTDF,B_HORS75,L_NVOIE,L_ADR,N_SQ_AR,N_SQ_VO,OBJECTID,Numéro,Rue
0,"48.868149964330925,2.385363237327124","{""coordinates"": [2.385363237327124, 48.8681499...",750088825,31.0,NaN,NaN,NaN,20.0,21.0,N,O,NaN,N,31,31 RUE ETIENNE DOLET,750000020.0,750003581.0,48975,31,rue etienne dolet
1,"48.873918224142145,2.308770442174867","{""coordinates"": [2.308770442174867, 48.8739182...",750038510,2.0,NaN,NaN,NaN,8.0,222.0,O,O,NaN,N,2,2 RUE PAUL CEZANNE,750000008.0,750004449.0,48990,2,rue paul cezanne
2,"48.84631684220949,2.34848334292492","{""coordinates"": [2.34848334292492, 48.84631684...",750162012,14.0,NaN,NaN,NaN,5.0,346.0,N,O,NaN,N,14,14 RUE CLOVIS,750000005.0,750004930.0,49022,14,rue clovis
3,"48.850519497345935,2.3857899214565674","{""coordinates"": [2.3857899214565674, 48.850519...",750054032,31.0,b,NaN,NaN,11.0,359.0,N,O,NaN,N,31b,31b RUE DE MONTREUIL,750000011.0,750003059.0,49026,31b,rue de montreuil
4,"48.85233571571768,2.2684341614185204","{""coordinates"": [2.2684341614185204, 48.852335...",750128612,47.0,NaN,NaN,NaN,16.0,124.0,O,O,NaN,N,47,47 RUE RIBERA,750000016.0,750000897.0,49033,47,rue ribera